<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- Latest compiled and minified CSS -->
                        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		</head>
		<body>
			<div class="header">
        			<ul class="nav nav-pills pull-right">
          				<li class="active"><a href="#">Home</a></li>
          				<li><a href="research.html">Research</a></li>
          				<li><a href="cv.html">CV</a></li>
        			</ul>
        		<h3 class="text-muted">Wei Dai (David)</h3>
     			 </div>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>
