<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!-- Latest compiled and minified CSS -->
                	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    			<link href="/css/jumbotron-narrow.css" rel="stylesheet" type="text/css">
		        <link href="/css/modern-business.css" rel="stylesheet" type="text/css">
    		        <link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">        
		</head>
		<body>
			<div class="container">
      				<div class="header">
        			<ul class="nav nav-pills pull-right">
         				 <li class="active"><a href="/">Home</a></li>
         				 <li><a href="/bio">Bio</a></li>
         				 <li><a href="/resume">Resume</a></li>
					<li><a href="/contact">Contact</a></li>
        			</ul>
        			<h3 class="text-muted">Wei Dai (David)</h3>
      			</div>
			<div class="row marketing">
			{{ content }}
			</div><!-- /.container -->
		</body>
	</html>
